<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Edumia V2{% endblock %}</title>
</head>
<body>
  <main>
    {% block content %}
    <button><a href="students"> Students</a></button>
    <button><a href="{% url 'staff' %}">Staff</a> </button>
    {% endblock %}
  </main>
</body>
</html>