<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All students</title>
</head>
<body>
<table>
<tr>
    <th>Firstname</th>
    <th>Lastname</th>
</tr>

<tr>
    {% for i in data %}
        {% if i.status == '1' %}

        <td><a href="{{ i.url }}"> {{ i.first_name }}</a></td>
        <td>{{ i.second_name }}</td>
</tr>
        {% endif %}
    {% endfor %}
</table>

<p>Test</p>
</body>
</html>