{% extends 'base.html' %}

{% block content %}
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  <script type="text/javascript">
    $(document).ready(function(){
        $("#btn").click(function(){
        $.ajax({
            type: 'GET',
            url: "http://127.0.0.1:8000/api/student_list/",
            success:function(data){
             alert(data);
            }
        });
    return false;
    });
});
</script>
</head>

<form id="KlassDivisionForm" method="get"  data-cities-url="{% url 'ajax_get_divisions' %}" novalidate>

    <table>
      {{ form.as_table }}
    </table>
    {% if not data %}
    <button id="contactbutton" type="submit">Get info</button>
    {% endif %}
  </form>
<button id="btn">Send an HTTP GET request to a page and get the result back</button>
<div>
    {% if data %}
   <table>
        <thead>
        <th>Name</th>
        <th>Admission No</th>
        <th>Phone</th>
        <th>Address</th>
        </thead>
        <tbody>{% for item in data %}
        <tr><td>{{ item.first_name}}</td>
            <td>{{ item.admission_number }}</td>
            <td>{{ item.phone_number }}</td>
            <td>{{ item.address_line1}}<br> {{ item.address_line2 }}</td>
         {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_klass").change(function () {
      var url = $("#KlassDivisionForm").attr("data-cities-url");  // get the url of the `load_cities` view
      var klassId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'klass': klassId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_division").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>


{% endblock %}