{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.number }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a> |
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
  <h3>Students</h3>
  <form>
    <input type="text" name="search" placeholder="" value="">
    <button>Search</button>
  </form>
  <button><a href="{% url 'all_students' %}"> All Students</a></button>
  <button><a href="add-student"> Admit Student</a></button>
  <button><a href="{% url 'student_phone_numbers' %}">Contact Numbers  </a> </button>
  <button><a href="{% url 'student_info' %}">Student Info  </a> </button>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
  localStorage.setItem("token", "{{ token }}");

  });
</script>
{% endblock %}