{% extends 'base.html' %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<form id="KlassDivisionForm" method="get"  data-cities-url="{% url 'ajax_get_divisions' %}" novalidate>

    <table>
      {{ form.as_table }}
    </table>
    {% if not data %}
    <button id="contactbutton" type="submit">Get Contact Numbers</button>
    {% endif %}
  </form>
<script type="text/javascript">
    $(document).ready(function(){
            $("select#id_klass").change(function(){
            var klass = $(this).children("option:selected").val();
            $("select#id_division").change(function(){
            var division = $(this).children("option:selected").val();


        $("#contactbutton").click(function(){
        $.ajax({
            type: 'GET',
            url: ("http://127.0.0.1:8000/api/v1/klass_students?klass="+klass+"&division="+division),
            headers: { "Authorization" : "Token a96cead65bc330ddbde89cd1c8524e8721661660" },
            success:function(data){
            var i;
            var studentname="";
            for (i=0;i<data.length;i++){
            studentname +=  data[i].first_name+" "+data[i].last_name+"\t"+data[i].phone_number +"<br>";
            var student = studentname.link(data[i].url)
            }
             document.getElementById("studentsdata").innerHTML = student;
            }
        });
    return false;
    });
     });
});
});
</script>
<div>

        <p id="studentsdata"></p>
</div>


  <script>
    $("#id_klass").change(function () {
      var url = $("#KlassDivisionForm").attr("data-cities-url");  // get the url of the `load_cities` view
      var klassId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'klass': klassId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_division").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>


{% endblock %}