{% extends 'base.html' %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<form method="post">
    {% csrf_token %}
    {{ staff_form.as_table }}
    {{ profile_form.as_table }}

    <button type="submit">Submit</button>
</form>
{% endblock content%}