<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Edumia V2{% endblock %}</title>
</head>
<body>
  <main>
    {% block content %}
      <h3>Staff</h3>
  <form>
    <input type="text" name="search" placeholder="" value="">
    <button>Search</button>
  </form>
  <button><a href="add_staff"> Add Staff</a></button>
<div>
   <table>
        <thead>
        <th>Name</th>
        <th>Phone</th>
        <th>Address</th>
        </thead>
        <tbody>{% for item in staff_data %}
        <tr><td>{{ item.first_name}}</td>
            <td>{{ item.phone_number }}</td>
            <td>{{ item.address_line1}}<br> {{ item.address_line2 }}</td>
         {% endfor %}
        </tbody>
    </table>
</div>
    {% endblock %}
  </main>
</body>
</html>